<div class="search-by-letter">
    <div class="content-text">
        | <a class="letter" href="#">#</a>
        | <a class="letter" href="#">A</a>
        | <a class="letter" href="#">B</a>
        | <a class="letter" href="#">C</a>
        | <a class="letter" href="#">D</a>
        | <a class="letter" href="#">E</a>
        | <a class="letter" href="#">F</a>
        | <a class="letter" href="#">G</a>
        | <a class="letter" href="#">H</a>
        | <a class="letter" href="#">I</a>
        | <a class="letter" href="#">J</a>
        | <a class="letter" href="#">K</a>
        | <a class="letter" href="#">L</a>
        | <a class="letter" href="#">M</a>
        | <a class="letter" href="#">N</a>
        | <a class="letter" href="#">O</a>
        | <a class="letter" href="#">P</a>
        | <a class="letter" href="#">Q</a>
        | <a class="letter" href="#">R</a>
        | <a class="letter" href="#">S</a>
        | <a class="letter" href="#">T</a>
        | <a class="letter" href="#">U</a>
        | <a class="letter" href="#">V</a>
        | <a class="letter" href="#">W</a>
        | <a class="letter" href="#">X</a>
        | <a class="letter" href="#">Y</a>
        | <a class="letter" href="#">Z</a> |
    </div>
</div>